.main-image {
  height: 20%;
  width: 20%;
  border-radius : 100%;
}
body{
  background-color: #E4F9F5;
}
h1{
  color:#66BFBF;
}
h2{
  color:#66C1CD;
}

.alined{
  text-align: center;
}
